[submodule "StupideBench"]
	path = StupideBench
	url = https://github.com/bnlWhale/StupideBench.git
[submodule "v1"]
	path = StupideBench
	url = https://github.com/bnlWhale/StupideBench.git
[submodule "-v2"]
	path = UglyBench-app-client
	url = https://github.com/bnlWhale/UglyBench-app-client.git
